<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valor</title>
    
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ffffff;
        margin: 0;
      }
    </style>
  </head>
  
  <body>
    <div>
      <h1 id="valor">Valor: <%= @count %></h1>
    </div>
  </body>
  
  <script>
    // Función para recargar la página cada 1 segundo
    setInterval(function() {
      location.reload();
    }, 1000);
  </script>
</html>
